<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="archiverTrigger" />
				<ref bean="schedulerTrigger" />
			</list>
		</property>
	</bean>
	
	<!-- archiverJob -->
	<bean id="archiverTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="repeatInterval" value="10000" />
		<property name="jobDetail" ref="archieverJobDetail" />
	</bean>
	<bean id="archieverJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="executorArchiverJob" />
		</property>
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- schedulerJob -->
	<bean id="schedulerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="repeatInterval" value="10000" />
		<property name="jobDetail" ref="schedulerJobDetail" />
	</bean>
	<bean id="schedulerJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="schedulerJob" />
		</property>
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
<!-- 	<bean id="schedulerTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="schedulerJobDetail" /> -->
<!-- 		<property name="cronExpression" value="0 0/1 * * * ?" />  -->
<!-- 	</bean> -->

</beans>